<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', { title }) %>
</head>

<body>
    <%- include('../partials/header.ejs')%>

    <main>
        <div class="blogs content">
            <h1>Explore Blogs</h1>
            
        </div>
    </main>

    <%- include('../partials/footer.ejs')%>

</body>

</html>