<header>
    <nav>
        <a class="site-logo" href="/">
            <h2>Test Blog</h2>
            <p><small>A Blogging Site</small></p>
        </a>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
</header>