<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', { title }) %>
</head>

<body>
    <%- include('./partials/header.ejs')%>

    <main>
        <div class="about content">
            <h1>About Us</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptas nisi quasi ipsa optio recusandae eum officia quod sapiente placeat mollitia ex ratione cupiditate repellat tempora, quidem quae assumenda repudiandae. Perferendis voluptatum nemo perspiciatis aperiam ipsam animi, fugit ullam repudiandae soluta sequi aliquam repellendus consequatur rem atque, quisquam, praesentium explicabo voluptatibus illum deleniti impedit? Provident veritatis sit nobis dolorem official.
            </p>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>

</body>

</html>