<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs', { title }) %>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <main>
        <div class="content">
            <h1>Home Page</h1>
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>

</body>
</html>