.blog-detail{
    margin: 2em auto;
    text-align: center;
    font-size: .9em;
    font-weight: 300;
}
.blog-author p{
    font-size: .9em;
    font-weight: 300;
    color: #a2a2a2;
    text-align: right;
}
.blog-author a{
    color: #ff8e64;
    font-size: .9em;
    text-decoration: none;
    border: none;
    outline: none;
}
.blog-timestamps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    font-weight: 300;
}