.form-outer{
    width: 50%;
    margin: 2em auto;
    padding: 5em;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.form-outer h3{
    font-size: 1.5em;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}
.form-group{
    margin: 1em auto;
}
.form-group label{
    display: block;
    width: 100%;
    font-size: .9em;
    font-weight: 400;
}
.form-group input[type="text"], textarea{
    width: 100%;
    padding: .7em 1em;
    outline: none;
    border: none;
    box-shadow: 0 0 1px #000;
    border-radius: 3px;
}
textarea{
    min-height: 120px;
}
.create-btn{
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: .7em 2em;
    border: 1px solid #ff8e64;
    border-radius: 5px;
    background: #fff;
    color: #ff8e64;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    font-size: 1em;
    font-weight: 500;
}
.create-btn:hover{
    color: #fff;
    background: #ff8e64;
}